<div class="app-container">
  <h1>Welcome to {{ title }}!</h1>
  <p>
    <b>ngx-component-example</b> is a lightweight Angular wrapper component designed for showcasing other components in a configurable environment.
    <br>
    It provides built-in support for theme switching (default / dark) and text direction (LTR / RTL), making it perfect for component demos, style previews, and UI testing.
  </p>
  <ngx-component-example>
    <p>
      This is a simple example of using a custom Angular component.
    </p>
  </ngx-component-example>  
</div>
